.title-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-header button {
    display: flex;
    width: 2rem;
    height: 1.2rem;
    text-align: center;
    justify-content: center;
}

.table table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px; /* Adicionando bordas arredondadas */
}

.content {
    overflow-y: scroll;
    height: 100%;
}

.table th, td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
    color: #222;
}

.table thead th {
    font-size: 14px;
    font-weight: bold;
    cursor: default;
}

.table th{
    background-color: #ffffff;
}

.table tr{
    background-color: lightgray;
}


.table tr:hover {
    background-color: rgb(117, 192, 253);
    cursor: pointer;
}

.table .variables td{
   padding: 4px 10px;
   text-align: left;
   font-style: italic;
   background-color: white;
   cursor: default;
}

.table .variables-title td{
    padding: 2px;
    background-color: #fff;
    cursor: default;
}

.table-header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
}

.table-header button {
    padding:0 1rem;
    cursor: pointer;
}

.add-task {
    position: absolute;
    width: 100%;
    min-height: 400px;
    height: 100%;
    background-color: #fff;
    border: 1px solid #aaa;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.add-task p {
    font-weight: bold;
    margin-bottom: 0.8rem;
}

.add-task .variables-name {
    height: 100%;
    overflow-y: scroll;
}

.add-task .variables-name table {
    width: 100%;
}

.delete-task {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff93;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    justify-content: center;
}

.delete-task .content {
    border: 1px solid #aaa;
    padding: 1rem;
    background-color: #fff;
}


